[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Uncomment below for Python 3.6
# dataclasses = "*"
ptpython = "*"
black = "*"
# attrs = "*"
bpython = "*"
# jsondate = "*"
jupyterlab = "*"
hypothesis = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
